<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189513834130-5l716hivnt608bc2uurfgg9nrafo88nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189513834130-5l716hivnt608bc2uurfgg9nrafo88nf</string>
	<key>API_KEY</key>
	<string>AIzaSyC9UEZAYEEKsufpZn2DMCDRIjTcWsAR1ww</string>
	<key>GCM_SENDER_ID</key>
	<string>189513834130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNews</string>
	<key>PROJECT_ID</key>
	<string>flutter-news-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-news-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189513834130:ios:18beeb806595710d7a504b</string>
</dict>
</plist>